.profile-input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.save-btn {
  background-color: #d4af37;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  transition: all 0.3s;
}

.save-btn:hover {
  background-color: #d4af37;
}
