.overview-container {
  background-color: #12100E;
  color: #fff;
}

.overview-title {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 28px);
}

.overview-subtitle {
  font-size: clamp(12px, 1.2vw, 14px);
  color: #aaa;
}

.overview-card {
  background-color: #2a2623 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: start;
}

.card-label {
  font-size: clamp(12px, 1vw, 14px);
  color: #ccc;
  margin-bottom: 8px;
}

.card-value {
  font-weight: 700;
  font-size: clamp(18px, 2vw, 22px);
  color: #ffffff;
  margin: 0;
}

.card-change {
  color: #2ecc71;
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 600;
  margin-top: 8px;
}

/* Adjust layout for smaller screens */
@media (max-width: 576px) {
  .overview-container {
    text-align: center;
  }

  .overview-card {
    margin-bottom: 15px;
  }
}


/* pricechart */

/* .pricechart-container {
  background-color: #12100E;
  color: #fff;
}

.section-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.btn-group-container {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 15px;
}

.selector-btn {
  flex: 1;
  background-color: #2a2623;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.selector-btn.active {
  background-color: #000;
  font-weight: 600;
} */


.price-chart-section {
  background: #12100e;
  border-radius: 0px;
  padding: 20px;
}

.selector-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #3b352e;
  border-radius: 20px;
  padding: 5px;
}

.selector-btn {
  flex: 1;
  padding: 6px 10px;
  margin: 2px;
  background: transparent;
  border: none;
  color: #ccc;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.selector-btn.active {
  background: #000;
  color: #fff;
}

.chart-card {
  background: #1a1816;
  border-radius: 12px;
  border: 1px solid #333;
}




.market-news-section {
  background-color: 12100E; 
  padding: 50px 0;
}

.market-news-section .text-muted {
  color: #b3b3b3 !important;
}

.footer-link {
  color: #d4d4d4 !important;
  margin: 5px 15px;
  font-weight: 500;
}

.footer-link:hover {
  color: #d4af37 !important; /* gold hover */
}


